.characters{
    padding: 120px 100px 0px;
    display: grid;
    grid-template-columns: 30% 70%;

    @media (max-width:970px) {
        display: block;
        padding: 30px;
    }

    &__image {
        max-width: 70%;
        margin-left: 80px;
        border-radius: 10%;

        @media (max-width:970px) {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__text {
        margin: auto;

        @media (max-width:970px) {
            padding: 20px;
            text-align: center;
        }
        h2 {
            margin-bottom: 10px;
        }
    }
}