.hero {
    background-image: url(https://servidor-estatico-lovat.vercel.app/banner_desktop.jpg);
    min-height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -25px;

    @media (max-width: 970px) {
        background-image: url(https://servidor-estatico-lovat.vercel.app/banner_tablet.jpg);
        background-size: contain;
        min-height: 65vh;
        margin-top: -5px;
    }

    @media (max-width: 486px) {
        background-image: url(https://servidor-estatico-lovat.vercel.app/banner_mobile.jpg);
        background-size: cover;
        min-height: 40vh;
    }
}