$background: #fff;
$corTexto1: #f5f6fa;
$corTexto2: #CC0205;
$corTexto3: #1F1DCC;
$cordark: #0B0A11;
$corIngresso: #FF7300;
$ingressoBackground: #d35400;
$corCinemark: #B5121B;
$cinemarkBackground: #131313;